.container-eventos {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: rgb(245, 239, 239);
}

.card-text {
  color: black !important;
  margin-bottom: 50px;
}

.group-card {
  margin: 10px;

}

.card {
  margin: 15px !important;
  box-shadow: 1px 1px 1px #999;
  max-width: 500px;
}

.button {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 10px;
}

.img {
  max-height: 300px;
  max-width: 500px;
}
