
.imgLogo {
  max-width: 100px !important;
  margin-left: 10px !important;
  margin-right: 20px;
}

.container-fluid {
  background-color: rgb(41, 36, 36) !important;
}

.nav-link {
  color: aliceblue !important;
}

.dropdown-divider {
  background-color: #ff5a00 !important;
}

.container-fluid {
  height: 80px;
  margin: -10px 0;
}

.itens {
  font-weight: bold;
  position: fixed;
  right: 0;
  margin-left: 10px;
  margin-right: 8.5%;


}

.div-container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 83%;
}
