.imgLogo {
  max-width: 90px;
  margin-left: 15px;
}

.navbar {
  background-color: rgb(41, 36, 36);
}
.mr-auto {
  position: fixed;

  right: 0;
  font-weight: bold;
  margin-right: 20px;
}

.nameLogo {
  font-weight: bold;
  color: aliceblue !important;
}

.navItem {
  color: aliceblue !important;
}

.dropdown-menu {
  background-color: rgb(41, 36, 36) !important;
}
.dropdown-item {
  font-weight: bold;
  color: aliceblue !important;
}
.dropdown-divider {
  background-color: aliceblue !important;
}
