.container {
  height: calc(110vh - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container p {
  text-align: center;
}

.titulo {
  margin-bottom: 50px;
  color: aliceblue;
  text-align: center;
}

p {
  font-size: 20px;
}
